/* font */
@font-face {
    font-family: 'Overpass';
    src: url('/fonts/Overpass-Medium.woff2') format('woff2');
}

/* common */
p {
    margin: 0;
}

a {
    color: #1E1E1E;
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}

a {
    transition: opacity .2s;
}

svg {
    float: right;
}

/* body size and root font */
body {
    font-family: 'Overpass', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #1E1E1E;

    margin: 0 auto;
}

@media screen and (min-width: 1025px) {
    body {
        font-size: 18px;
        line-height: 23px;
        letter-spacing: -0.144px;

        max-width: 1276px;
        padding: 0 82px;
    }
}

@media screen and (max-width: 1024px) {
    body {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.128px;
    }
}

@media screen and (min-width: 431px) and (max-width: 1024px) {
    body {
        max-width: 892px;
        padding: 0 66px;
    }
}

@media screen and (max-width: 430px) {
    body {
        min-width: 319px;
        padding: 0 28px;
    }
}

/* header and footer */
.header-title {
    margin-right: auto;
}

nav ul {
    padding-left: 0;
}

nav ul li {
    list-style: none;
}

@media screen and (min-width: 1025px) {
    header,
    footer {
        height: 118px;
        display: flex;
        align-items: center;
    }

    .navigation ul {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-gap: 32px;
    }

    footer .navigation {
        margin-right: auto;
    }

    .external-links ul {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 32px;
    }
}

@media screen and (min-width: 651px) and (max-width: 1024px) {
    header,
    footer {
        height: 115px;
        display: flex;
        align-items: center;
    }

    .navigation ul {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-gap: 32px;
    }

    footer .navigation {
        margin-right: auto;
    }

    .external-links ul {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 32px;
    }
}

@media screen and (min-width: 431px) and (max-width: 650px) {
    header,
    footer {
        height: 115px;
        display: flex;
        align-items: center;
    }

    header li:not(:last-child) {
        /*todo add burger menu*/
        display: none;
    }

    footer {
        height: auto;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        /*gap: 61px;*/
        margin-bottom: 48px;
    }

    footer .navigation ul {
        display: grid;
        grid-template-columns: repeat(2, auto);
        column-gap: 61px;
        row-gap: 24px;
    }

    .external-links ul {
        display: grid;
        grid-template-columns: auto;
        row-gap: 24px;
    }
}

@media screen and (max-width: 430px) {
    header,
    footer {
        height: 115px;
        display: flex;
        align-items: center;
    }

    header li:not(:last-child) {
        /*todo add burger menu*/
        display: none;
    }

    footer {
        height: auto;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        /*gap: 61px;*/
        margin-bottom: 48px;
    }

    footer .navigation ul {
        display: grid;
        grid-template-columns: repeat(2, auto);
        column-gap: 61px;
        row-gap: 24px;
    }

    .external-links ul {
        display: grid;
        grid-template-columns: auto;
        row-gap: 24px;
    }
}

/* main block */
.section-title {
    opacity: 0.8;
}

main section:not(:first-child) {
    padding-top: 200px;
}

@media screen and (min-width: 1025px) {
    main section:not(:last-child) {
        display: flex;
        justify-content: space-between;
    }

    .section-body {
        display: flex;
        flex-direction: column;
        max-width: 736px;
    }
}

@media screen and (min-width: 431px) and (max-width: 1024px) {
    main section:not(:last-child) {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }

    .section-body {
        display: flex;
        flex-direction: column;
        max-width: 588px;
    }
}

@media screen and (max-width: 430px) {
    .section-body {
        display: flex;
        flex-direction: column;
        width: 319px;
    }
}

/* greeting block */
@media screen and (min-width: 1025px) {
    .greeting {
        max-width: 1006px;
        margin-top: 102px;
    }

    .greeting-text {
        font-size: 52px;
        line-height: 66px;
        letter-spacing: -2.08px;
    }
}

@media screen and (min-width: 431px) and (max-width: 1024px) {
    .greeting {
        max-width: 684px;
        margin-top: 102px;
    }

    .greeting-text {
        font-size: 35px;
        line-height: 44px;
        letter-spacing: -1.4px;
    }
}

@media screen and (max-width: 430px) {
    .greeting {
        max-width: 319px;
        margin-top: 102px;
    }

    .greeting-text {
        font-size: 25px;
        line-height: 32px;
        letter-spacing: -1px;
    }
}

/* text sections */
@media screen and (min-width: 1025px) {
    .text-section p {
        font-size: 30px;
        line-height: 38px;
        letter-spacing: -1.2px;
        opacity: 0.8;
    }

    .text-section p:not(:last-child) {
        margin-bottom: 38px;
    }
}

@media screen and (min-width: 431px) and (max-width: 1024px) {
    .text-section p {
        font-size: 28px;
        line-height: 35px;
        letter-spacing: -1.12px;
        opacity: 0.8;
    }

    .text-section p:not(:last-child) {
        margin-bottom: 35px;
    }

    .text-section p:first-child {
        margin-top: 48px;
    }
}

@media screen and (max-width: 430px) {
    .text-section p {
        font-size: 20px;
        line-height: 25px;
        letter-spacing: -0.8px;
        opacity: 0.8;
    }

    .text-section p:first-child {
        margin-top: 48px;
    }

    .text-section p:not(:last-child) {
        margin-bottom: 25px;
    }
}

/* work cards */
.work-card:hover {
    transform: translateY(-5px);
}

.work-card {
    transition: transform .2s;
}

.work-card-panel-website {
    opacity: 0.69;
}

@media screen and (min-width: 1201px) {
    .work-card:not(:last-child) {
        margin-bottom: 24px;
    }

    .work-card-image {
        border-radius: 40px 40px 0 0;
        width: 736px;
        height: 465px;
    }

    .work-card:nth-child(1) .work-card-image {
        background-image: url("/images/work/green-chef/pc.png");
    }

    .work-card:nth-child(2) .work-card-image {
        background-image: url("/images/work/indream-design/pc.png");
    }

    .work-card:nth-child(3) .work-card-image {
        background-image: url("/images/work/rombo-guitar-picks/pc.png");
    }

    .work-card-panel {
        border-radius: 0 0 40px 40px;
        background: #F7F7F7;
        height: 85px;
        display: flex;
        align-items: center;
    }

    .work-card-panel p {
        padding-left: 24px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .work-card:not(:last-child) {
        margin-bottom: 24px;
    }

    .work-card-image {
        border-radius: 40px 40px 0 0;
        width: 588px;
        height: 363px;
    }

    .work-card:nth-child(1) .work-card-image {
        background-image: url("/images/work/green-chef/tablet.png");
    }

    .work-card:nth-child(2) .work-card-image {
        background-image: url("/images/work/indream-design/tablet.png");
    }

    .work-card:nth-child(3) .work-card-image {
        background-image: url("/images/work/rombo-guitar-picks/tablet.png");
    }

    .work-card-panel {
        border-radius: 0 0 40px 40px;
        background: #F7F7F7;
        height: 85px;
        display: flex;
        align-items: center;
    }

    .work-card-panel p {
        padding-left: 24px;
    }
}

@media screen and (min-width: 431px) and (max-width: 1024px) {
    .work-card:first-child {
        margin-top: 48px;
    }

    .work-card:not(:last-child) {
        margin-bottom: 24px;
    }

    .work-card-image {
        border-radius: 40px 40px 0 0;
        width: 100%;
        min-width: 319px;
        height: 363px;
    }

    .work-card:nth-child(1) .work-card-image {
        background-image: url("/images/work/green-chef/tablet.png");
        background-position: center;
    }

    .work-card:nth-child(2) .work-card-image {
        background-image: url("/images/work/indream-design/tablet.png");
        background-position: right 0;
    }

    .work-card:nth-child(3) .work-card-image {
        background-image: url("/images/work/rombo-guitar-picks/tablet.png");
        background-position: center;
    }

    .work-card-panel {
        height: 75px;
        min-width: 319px;
        border-radius: 0 0 40px 40px;
        background: #F7F7F7;
        display: flex;
        align-items: center;
    }

    .work-card-panel p {
        padding-left: 24px;
    }
}

@media screen and (max-width: 430px) {
    .work-card {
        width: 319px;
    }

    .work-card:first-child {
        margin-top: 48px;
    }

    .work-card:not(:last-child) {
        margin-bottom: 24px;
    }

    .work-card-image {
        border-radius: 40px 40px 0 0;
        width: 100%;
        height: 363px;
    }

    .work-card:nth-child(1) .work-card-image {
        background-image: url("/images/work/green-chef/mobile.png");
    }

    .work-card:nth-child(2) .work-card-image {
        background-image: url("/images/work/indream-design/mobile.png");
    }

    .work-card:nth-child(3) .work-card-image {
        background-image: url("/images/work/rombo-guitar-picks/mobile.png");
    }

    .work-card-panel {
        border-radius: 0 0 40px 40px;
        background: #F7F7F7;
        height: 75px;
        display: flex;
        align-items: center;
    }

    .work-card-panel p {
        padding-left: 24px;
    }
}

/* contact block */
#contact {
    margin-bottom: 200px;
}

@media screen and (min-width: 1025px) {
    .contact-block {
        height: 378px;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        gap: 69px;
        border-radius: 60px;
        background-color: #F6F6F6;
    }

    .contact-block-avatar {
        justify-self: end;
        width: 181px;
        border-radius: 140px;
    }

    .contact-block-info p:nth-child(1) {
        font-size: 52px;
        line-height: 66px;
        letter-spacing: -2.08px;
    }

    .contact-block-info p:nth-child(2) {
        font-size: 30px;
        line-height: 38px;
        letter-spacing: -1.2px;
        opacity: 0.8;
        margin-top: 24px;
    }
}

@media screen and (min-width: 501px) and (max-width: 1024px) {
    .contact-block-info p:nth-child(1) {
        font-size: 35px;
        line-height: 44px;
        letter-spacing: -1.4px;
    }

    .contact-block-info p:nth-child(2) {
        font-size: 28px;
        line-height: 35px;
        letter-spacing: -1.12px;
        opacity: 0.8;
        margin-top: 24px;
    }
}

@media screen and (max-width: 500px) {
    .contact-block-info p:nth-child(1) {
        font-size: 25px;
        line-height: 32px;
        letter-spacing: -1px;
    }

    .contact-block-info p:nth-child(2) {
        font-size: 18px;
        line-height: 23px;
        letter-spacing: -0.72px;
        opacity: 0.8;
        margin-top: 16px;
    }
}

@media screen and (min-width: 731px) and (max-width: 1024px) {
    .contact-block {
        height: 335px;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        gap: 40px;
        border-radius: 60px;
        background-color: #F6F6F6;
    }

    .contact-block-avatar {
        justify-self: end;
        width: 159px;
        border-radius: 140px;
    }
}

@media screen and (max-width: 730px) {
    .contact-block {
        height: 513px;
        min-width: 319px;
        display: grid;
        grid-template-rows: auto auto;
        justify-items: center;
        border-radius: 60px;
        background-color: #F6F6F6;
    }

    .contact-block-avatar {
        align-self: end;
        width: 159px;
        border-radius: 140px;
    }

    .contact-block-info {
        margin-top: 30px;
    }
}
